<!doctype html>


<html ng-app="listTodo">
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Task Chart!</title>

	
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		html 					{ overflow-y:scroll; }
		body 					{ padding-top:50px; }
		#todo-list 				{ margin-bottom:30px; }
		#todo-form 	 			{ margin-bottom:50px; }
	</style>


	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>

	<script src="js/controllers/main.js"></script> 
	<script src="js/services/todos.js"></script> 
	<script src="js/core.js"></script> 

</head>
<body ng-controller="mainController">
	<div class="container">

		<div  >
		<h1 align="center" style="padding-right: 50px;color:darkblue">Task Charts Are On!</h1>
		</br>
		</div>

	<div align="center"  id="todo-form" style="padding-left: 100px" class="row">
			<div class="col-sm-6 col-sm-offset-2 text-center">
				<form>
					<div class="form-group">

						<input type="text" class="form-control input-lg text-center" placeholder="Enter a new task :)" ng-model="formData.text">
					</div>

					<button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
				</form>
			
			</div>
		</div>


	
		<div id="todo-list" align="left" class="row">

			<div class="col-sm-4 col-sm-offset-4">
<h3 align="left" style="color:maroon">Tasks :</h3>
				

				<div class="checkbox"  style="zoom:1.7" ng-repeat="todo in todos">
					<label>
						<input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
					</label>
				</div>

				<p class="text-center" ng-show="loading">
					<span class="fa fa-spinner fa-spin fa-3x"></span>
				</p>

			</div>
		</div>

	
		<div class="text-center text-muted">
</div>

	</div>

</body>
</html>
